/* Add your styles here */

body {
    padding-right: 150px;
    padding-left: 150px;
}
h1 {
    font-size: 24px;
    background-color: red;
    color: white;
    width: 100%;
    padding: 5px;
}

img:nth-child(1) {
    width: 35%;
}

#author-name-and-date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(227 226 230);
}

ol li, p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: gray;
}

p a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: blue;
}