a {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div {
    display: flex;
    width: 60%;
    margin-bottom: 10px;
}

form div label {
    width: 40%;
}

section  address {
    display: flex;
    flex-direction: column;
}

img {
    width: 50%;
}

section .golden-star {
    color: gold;
    font-size: 24px;
  }